
body{
	background:#f3f1ef;
	font-family: 'Roboto', sans-serif;
}


body .navbar-default{
	background: #fff;
    box-shadow: 0px 15px 15px -15px #999;
    border-right:0px;
    border-left:0px;
}

footer {
	background:#cdcbcb;
	min-height:200px;
  padding-bottom: 25px;
	margin-top: 75px;
}


footer .link-list a{
  display: block;
    color:#3399cc;
  text-transform: capitalize;
  margin-bottom: 3px;
  cursor: pointer;
}

footer .row h3 {
  text-transform: uppercase;
    font-weight: bold;
    font-size:18px;
}



body nav{
	height:75px;
	padding:10px;
	border-radius: 0px;
}


ul.nav li a{
	background-color: transparent !important;
    padding-top: 20px;
}

ul.nav li a{
	font-weight: 500;
	color:#2a2b34 !important;
	font-size:17px;
}
	

.home-car .row h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
}

.social-btn {
    float: left;
    background: #fff;
    border-radius: 100px;
    width: 30px;
    text-align: center;
    margin: 0px 6px;
    height: 30px;
}

.social-btn i {
    position: relative;
    top: 5px;
}


.home-car .row p.text-muted {
    font-size: 18px;
    font-weight: 300;
    padding-bottom:18px;
}

.home-car .carousel-indicators li.active{
	background:#999;
}

.home-car .carousel-indicators li{
	border:1px solid #999;
}
.home-car .carousel-indicators{
	bottom: -20px;
    display: block;
}

.contact-us,
.cart,
.sign-in,
.logged-in{
	font-size:10px;
	padding:0px 4px;
	cursor: pointer;
}

.sign-in{
	border-radius: 0px;
	padding:2px 18px;
	margin:0px 4px 0px 12px;
	background:#2980b8;
	color:#fff;
	border:0px;

}

.top-bar{
    position: relative;
    height: 30px;
    margin-top:6px;
}

.plan-color{
	height:5px;
	width:100%;
}


.green-color{
	color: #33cc65;
}

.yellow-color{
	color: #feba00;
}

.orange-color{
	color: #f15a24;
}

.blue-color{
	color: #3399cc;
}

.red-color{
	color:#ec1c24;
}






.green{
	background: #33cc65;
}

.yellow{
	background: #feba00;
}

.orange{
	background: #f15a24;
}

.blue{
	background: #3399cc;
}

.red{
	background:#ec1c24;
}


/*.home-banner {
    background: #fff;
}*/

.banner-link {
    color: #ec1c24;
}

.container{
	max-width:905px;
}

.home-car{
	height:380px;
}

.home-banner{
	position: relative;
}

.banners{
    height: 200px;
    padding-top: 40px;
    text-align: center;
}

.banner-text {
    margin-bottom: 10px;
}

.we-do-diff,
.we-do{
	line-height: 100%;
	font-size:24px;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	text-align: center;
}

.plan-select-container{
	padding:30px;
}

.plans-selection {
    height: 215px;
}

.comment{
	font-size:13px;
	color:#999;
}

.banners,
.plan-select-container{
	border:1px solid #d8d8d8;
	background:#fff;
	margin: 12px 0px;
	border-radius: 3px;
}

.plan-select-container h3{
    color: #277fb8;
    margin-bottom: 32px;
}

.clear{
	clear:both;
}

.plan-icon {
    background: #e9e9ea;
}

.plan-item{
	width: 95px;
    height: 95px;
    float: left;
    margin-right:81px;
}
.plan-item:last-child{
	margin-right: 0px;
}

.plan-item .plan-name {
    font-size: 45px;
    text-align: center;
    display: block;
    font-weight: 600;
}

.plan-price{
	font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
}

.border-line{
    position: absolute;
    height: 150px;
    width: 1px;
    background: #d8d8d8;
    top: -20px;
} 

.border-right{
	right:0px;
}

.border-left{
	left:0px;
}




.rounded-btn{
	background:#33cc64;
	border-radius:40px;
	border:none;
	padding:12px 30px;
	font-weight: bold;
	font-size:18px;
}


.banner-desc span.h4 {
    font-weight: 200;
    font-style: italic;
    margin: 12px 0px 6px 0px;
    display: inline-block;
    color: #2a2b34;
    padding:0px 45px;
}



body.show-login-dialog .login-dialog{
	display: block;
}

body.show-login-dialog .modal-overlay,
body.show-email-dialog .modal-overlay{
    display: block;
    position: fixed;
    background: #000;
    opacity: 0.65;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 0px;
}

.close-dialog  {
	color:#999;
	cursor: pointer;
	position: relative;
    top: -12px;
}


.login-dialog{
	display: none;
}

.contract-main-banner h5 {
    color: #2980b8;
    font-size: 24px;
}

.contract-main-banner {
    width: 300px;
    text-align: center;
}

.line {
    width: 100%;
    height: 1px;
    background: #999;
    margin: 12px 0px;
}

.contractHref {
    color: #b4b4b4;
    text-decoration: underline;
    cursor: pointer;
}


body.is-logged-in .logged-in {
  display: inline-block;
}

body.is-logged-in li.myNewComMenuItem{
  display: inline-block;
}

li.myNewComMenuItem {
    display: none;
}

body .logged-in {
  display: none;
}


body.is-logged-in .sign-in{
  display: none;
}

.login-dialog input.form-control,
input.form-control {
    border-radius: 0px;
    margin: 10px 0px;
    height: 30px;
}

.login-dialog label.text-muted {
    font-weight: normal;
    font-size: 11px;
}

.login-dialog .btn-block,
.btn-block {
    border-radius: 0px;
    margin: 20px 0px;
}


.login-dialog{
    width: 255px;
    height: 285px;
    padding: 20px;
    background: #fff;
    position: absolute;
    right: 20px;
    top: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    z-index: 999;
    left: auto;
}






/**** PRODUCT *****/


.close-ribbon{
  position: absolute;
  top: 0;
  right: 1em;
  z-index: 1;
  color: #eee;
  font-size: 2em;
  cursor: pointer;
  width: 1.5em;
  line-height: 0.5em;
  -webkit-transition: line-height 0.5s;
  transition: line-height 0.5s;
}
.close-ribbon:after {
  content: "";
  font-size: 0.5em;
  position: absolute;
  height: 1.2em;
  border: 1.5em solid #F44336;
  z-index: -1;
  top: -1em;
  border-top-width: 1.5em;
  border-bottom-color: transparent;
  right: 0;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.close-ribbon:before {
  content: "";
  font-size: 0.5em;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #B71C1C transparent;
  top: -1em;
  right: 3em;
  border-width: 0 0 1em 0.7em;
  z-index: -1;
}
.close-ribbon:hover:after{
  border: 1.5em solid #EF5350;
  border-bottom-color: transparent;
  height: 1.6em;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.close-ribbon:hover{
  line-height: 0.9em;
  color: #333;
  -webkit-transition: line-height 0.5s;
  transition: line-height 0.5s;
}






/******* REQ EMAIL DIALOG ****/


body.show-email-dialog .req-email-dialog {
  display: block;
}

.req-email-dialog {
    display: none;
    position: fixed;
    width: 300px;
    z-index: 999999;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    left: 50%;
    top: 15%;
    margin-left: -150px;
    padding: 20px;
}

.req-email-dialog input.form-control {
    margin: 12px 0px;
}

.col-md-6.bnr {
    text-align: center;
    margin-top: 15px;
}

/***** PRODUCT END ****/







nav .container {
    position: relative;
}

#myNewComMenu .col-md-3:nth-child(2) {
    border-right: 1px solid #277fb8;
    border-left: 1px solid #277fb8;
}

#myNewComMenu .col-md-3:nth-child(4) {
    border-left: 1px solid #277fb8;
    height: 100%;
    display: inline-block;
    position: relative;
}

.myNewComMenuItem:hover{
    background: #f3f1ef;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    height: 65px;
}


.myNewComMenuItem:hover .glyphicon-menu-up{
  display: inline-block;
}

.myNewComMenuItem:hover .glyphicon-menu-down{
  display: none;
}

.glyphicon-menu-up{
  display: none;
}

li.myNewComMenuItem .icons {
    font-size: 11px;
    position: relative;
    top: -3px;
}


body.mega-menu div#myNewComMenu {
  display: block;
}

div#myNewComMenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 63px;
    background: #f3f1ef;
    text-align: left;
    padding: 14px;
    right: 0px;
    box-shadow: 0px 15px 15px -15px #333;
    z-index: 9;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

#myNewComMenu .row{
  padding:15px 0px;
}

#myNewComMenu .header {
    color: #277fb8;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

#myNewComMenu .links div {
    font-size: 12px;
    cursor: pointer;
    margin: 6px 0px;
}






.product-main-banner h3.blue-color {
    position: relative;
    top: 25px;
}

.product-main-banner .row {
    background: white;
    position: absolute;
    bottom: 25px;
    right: 30px;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 5px 10px #333;
    width: 350px;
    height: 360px;
}

.benefitTextIntro {
    font-weight: normal;
    margin: 8px 0px;
}

.product-main-banner .row .rounded-btn {
    text-transform: uppercase;
    padding: 12px 60px;
}

.product-main-banner .row h3.blue-color {
    position: static;
}

.ribbon {
    background-image: url(resources/ribbon.png);
    background-repeat: no-repeat;
    height: 70px;
    position: absolute;
    width: 300px;
    color: transparent;
    top: -10px;
}